.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 10px;
}

.item {
    background-color: #0000ff;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

.container2 {
    width: 1fr;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr 5fr;
    grid-gap: 10px;
}

.item2 {
    background-color: #d54d2e;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}
