.container {
    background-color: #ccc;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.item {
    background-color: #0000ff;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

.item1 {/*
            1.grid-row-start
            2.grid-column-start
            3.grid-row-end
            4.grid-column-end
        */
        grid-area: 1/1/span 3/3;
}

.item6 {
    grid-area: 4/2/6/4;
}