.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 5px;
}

.item {
    background-color: #0000ff;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}